<br>
<br>
<br>
<br>
<br>
<br>

<div>
    <%= react_component 'O_RegistrationsOrgReg4' %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <%= link_to "Присоедениться", next_wizard_path %>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
<div>
  <%= react_component 'S_Footer' %>
</div>
