@font-face {
  font-family: "Steinbeck Regular";
  src: font-url(asset-path("fonts/SteinbeckRegular.ttf")) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Basis Grotesque Pro Regular";
  src: font-url(asset-path("fonts/BasisGrotesquePro-Regular.ttf")) format("truetype");
  font-style: normal;
  font-weight: 400;
}

:root {
  --White: #FFFFFF;
  --LightRed: #FFCFCF;
  --LightBlue: rgba(35, 51, 99, 0.2);
  --MidBlue: rgba(35, 51, 99, 0.8);
  --LightGreen: #D9FED6;
  --WhiteBlue: #F7F7F9;
  --EcologicalGreen: #CACC4E;
  --CulturalBlue: #88E5DA;
  --CivilianRed: #E85A5A;
  --SocialYellow: #FAF19D;
  --SportsOrange: #F68E5F;
  --KindBlue: #03195A;
}


body {
  font-family:"Basis Grotesque Pro Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
