
<div class="categories">

  <h3>Категории и фильтры</h3>
  <%= link_to 'Добавить категорию', new_category_path %>
  <h4>Категории дел и новостей</h4>
  <div class="allcategories">
    <% Category.all.each do |cat| %>
    <%= link_to cat.name, posts_path(category: cat.name) %> <br>
    <% end %>
  </div>
  <h3>Фильтры</h3>
  <h4>Фильтры времени</h4>
  <h4>Тип дела</h4>


</div>
