<table>
  <tbody>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div>
        <%= react_component 'O_RegistrationsVolOrOrg' %>
    </div>
    <%= link_to 'Зарегистрироваться как волонтер', new_user_registration_path %>
    <br>
    <br>
    <%= link_to 'Зарегистрироваться как организатор', new_organization_registration_path %>
  </tbody>
</table>
