<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>«Добрые дела»</title>
    <% set_meta_tags title: 'О нас для организаций', description: 'О Добрых делах — медиа-сервисе для волонтеров и НКО'%>
    <% set_meta_tags og: {title: ['О нас для организаций']}  %>
  </head>
  <body class="aboutpage">

  <div class="org_objects">
    <img src="images/dogorg.png" alt="ob-1" class="ob">
    <img src="images/objects/ob-2.png" alt="ob-2" class="ob">
    <img src="images/objects/ob-3.svg" alt="голубой круг" class="ob">
    <img src="images/objects/ob-4.svg" alt="красный объект" class="ob">
    <img src="images/objects/ob-6.svg" alt="красный объект" class="ob">
    <img src="images/objects/ob-7.svg" alt="желтый объект" class="ob">
    <img src="images/objects/ob-3.svg" alt="голубой круг" class="ob">
    <img src="images/objects/ob-5.svg" alt="зеленый объект" class="ob">
    <img src="images/objects/ob-3.svg" alt="голубой круг" class="ob">
    <img src="images/objects/ob-10.png" alt="ob-10" class="ob">
    <img src="images/objects/ob-4.svg" alt="красный объект" class="ob">
    <img src="images/objects/ob-3.svg" alt="голубой круг" class="ob">
    <img src="images/objects/ob-9.svg" alt="оранжевый круг" class="ob">
    <img src="images/objects/ob-11.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-19.png" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-20.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-21.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-12.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-13.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-14.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-15.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-16.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-17.svg" alt="оранжевый объект" class="ob">
    <img src="images/objects/ob-22.png" alt="оранжевый объект" class="ob">
  </div>

  <div class="org_main">
    <div class="org_features">
      <h1>Добрые дела&nbsp;&mdash; медиа-сервис, помогающий НКО быстро находить волонтеров</h1>
      <div class="CTA">
        <a href="/new">Присоединиться</a>
      </div>
      <img src="images/arrowlanding.svg" alt="" class="arrow">
    </div>
  </div>

  <div class="org_capabilities">
    <h1>Возможности организаций</h1>
    <p>Мы&nbsp;предоставляем свою площадку волонтерским организациям и&nbsp;даем возможность продвигать свою миссию, искать подходящих экспертов, которые поддержат ваши проекты. Нам доверяют уже тысячи организаций, в&nbsp;том числе:</p>
    <div class="we_logo_icn">
      <div class="">
        <img src="images/we_logo-1.svg" alt="">
        <img src="images/we_logo-2.svg" alt="">
        <img src="images/we_logo-3.svg" alt="">
      </div>
    </div>
  </div>

  <div class="what_to_do">
    <p>Что для этого нужно сделать?</p>
    <div class="registration">
      <div class="registration_about">
        <h1>Пройти регистрацию</h1>
        <p>Чтобы присоединиться нужно заполнить данные об&nbsp;организации, прикрепить необходимые документы и&nbsp;дождаться подтверждения регистрации. Сразу после можно начинать публикать проекты и&nbsp;искать единомышленников!</p>
      </div>
      <img id="aboutorgregistration" src="images/registrationabout2.png" alt="">
    </div>
    <div class="publish">
      <img src="images/affair2.png" alt="">
      <div class="publish_about">
        <h1>Опубликовать проект</h1>
        <p>Используя настройки, опишите цель проекта, расскажите о&nbsp;задачах более подробно, чтобы скорее найти подходящих волонтеров.</p>
      </div>
    </div>
    <div class="candidates">
      <div class="candidates_about">
        <h1>Просмотреть кандидатов</h1>
        <p>Посмотрите и&nbsp;выберите подходящих волонтеров и&nbsp;приступайте к&nbsp;проекту!</p>
      </div>
      <img src="images/candidatesabout.png" alt="">
    </div>
  </div>

  <div class="membership">
    <div class="price">
      <h1>2999&nbsp;RUB/мес</h1>
    </div>
    <div class="what_get">
      <div class="what_get_about">
        <p>Что организация получит, покупая платную подписку?</p>
        <p>Неограниченное количество проектов</p>
        <p>Возможность выбора волонтеров</p>
        <p>Возможность планирования собеседований</p>
        <p>Помощь операторов</p>
      </div>
    </div>
  </div>

  <div class="call_to_action">
    <h1>Найти волонтеров для своего проекта просто!</h1>
    <p>Присоединяйся и&nbsp;измени мир к&nbsp;лучшему</p>
    <div class="CTA">
      <a href="/new">Присоединиться</a>
    </div>
  </div>


    <div>
        <%= react_component 'S_Footer' %>
    </div>

</body>
