<!-- <h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p> -->

<div class="body">
  <div class="top_nav">
    <p>
      <%= link_to promo_path do %> добрые<br />дела<br />на сегодня<br /><% end %>
    </p>
  </div>
  <div class="home_about">
    <h1>мы&nbsp;&mdash; медиа-сервис, который объединяет <span>российские фонды</span> и&nbsp;<span>волонтерские организации,</span> а&nbsp;также пишет о&nbsp;них. Каждый день появляется какое-то количество дел, которые ты&nbsp;можешь выполнить в&nbsp;волонтерском формате</h1>
  </div>
  <div class="data_about">
    <hr>
    <div class="item_data creation_date">
      <h2>дата создания</h2>
      <p>проект создан 4&nbsp;сентября 2020 года</p>
    </div>
    <hr>
    <div class="item_data about_creators">
      <h2>о нас</h2>
      <p>мы&nbsp;&mdash; студентки школы дизайна ниу вшэ. этот социальный проект мы&nbsp;будем делать в&nbsp;течение года на&nbsp;2&nbsp;курсе и&nbsp;верим, что получится нечто полезное и&nbsp;нужное людям</p>
    </div>
    <hr>
    <div class="item_data mission">
      <h2>миссия</h2>
      <p>нашей миссией является продинуть волонтерское движение и&nbsp;облегчить поиск мероприятий по&nbsp;тематикам</p>
    </div>
  </div>
</div>
