@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

.body {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
  .top_nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 20px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      width: 80px;
      height: 80px;
      padding: 10px;
      background: #F6E6DB;
      border-radius: 50%;
      border: 1px solid black;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .nav_post {
      font-size: 20px;
      height: 50px;
      width: 130px;
      border-radius: 40px;
      background: linear-gradient(0deg, rgba(178,188,252,1) 0%, rgba(255,255,255,1) 100%);
      padding: 5px;
    }
  }
  .home_about {
    background: radial-gradient(52.93% 53.37% at 50.04% 50.12%, #E8D2F4 0%, rgba(232, 210, 244, 0) 99.48%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 70vh;
    span {
      font-weight: bold;
      font-style: italic;
    }
    h1 {
      width: 55vw;
    }
  }
  .data_about {
    margin-top: 12vh;
    hr {
      width: 97vw;
    }
    .item_data {
      display: flex;
      justify-content: space-between;
      margin: 0px 2vw;
      padding: 10px 0px;
      h2 {
        padding: 5px;
        font-size: 30px;
        font-style: italic;
      }
      p {
        font-size: 30px;
        background: radial-gradient(52.93% 53.37% at 50.04% 50.12%, #99A6FB 0%, rgba(232, 210, 244, 0) 99.48%);
        padding: 30px;
        width: 800px;
      }
    }
    .ideas,.competitors {
      justify-content: center;
      flex-direction: column;
      .ideas_p, .competitors_a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        p, a {
          display: flex;
          justify-content: center;
          font-size: 20px;
          align-items: center;
          text-align: center;
          padding: 45px;
          background: linear-gradient(0deg, rgba(239,121,82,1) 0%, rgba(255,255,255,1) 100%);
          border: 1px solid black;
          border-radius: 40px;
          margin: 20px 40px;
        }
        p:nth-child(2) {
          background: linear-gradient(0deg, rgba(178,188,252,1) 0%, rgba(255,255,255,1) 100%);
        }
        p:nth-child(3) {
          background: linear-gradient(0deg, rgba(232,210,244,1) 0%, rgba(255,255,255,1) 100%);
        }
        p:nth-child(4) {
          background: linear-gradient(0deg, rgba(246,230,219,1) 0%, rgba(255,255,255,1) 100%);
        }
      }
      .competitors_a {
        flex-wrap: wrap;
        margin: 10px 0px;
        a {
          flex-grow: 6;
          background: linear-gradient(0deg, rgba(255,253,146,1) 0%, rgba(255,255,255,1) 100%);
          text-decoration: none;
          padding: 20px 100px;
          margin: 10px 10px;
        }
      }
    }
    .plans_year, .target_audience, .summary_audience_analysis, .summary_competitors_analysis, .context, .pages, .cusdev {
      ol {
        padding: 10px;
        font-size: 30px;
        background: radial-gradient(52.93% 53.37% at 50.04% 50.12%, #EF7952 0%, rgba(232, 210, 244, 0) 99.48%);
        padding: 30px;
        width: 800px;
        li {
          padding: 3px;
        }
      }
      ul {
        background: radial-gradient(52.93% 53.37% at 50.04% 50.12%, #E8D2F4 0%, rgba(232, 210, 244, 0) 99.48%);
        list-style: none;
        padding: 10px;
        font-size: 30px;
        padding: 30px;
        width: 800px;
        li {
          padding: 3px;
        }
      }
      ul li:before {
        content:  "—";
        position: relative;
        left: -5px;
      }
    }
    .content, .interaction {
      .content_blocks, .interaction_blocks {
        display: flex;
        flex-direction: row;
        width: 800px;
        p {
          flex-grow: 6;
          font-size: 20px;
          width: 100%;
          text-align: center;
          border-radius: 40px;
          border: 1px solid black;
          background: linear-gradient(0deg, rgba(178,188,252,1) 0%, rgba(255,255,255,1) 100%);
          margin: 10px;
          padding: 30px 70px;
        }
      }
      .interaction_blocks {
        p {
          background: linear-gradient(0deg, rgba(239,121,82,1) 0%, rgba(255,255,255,1) 100%);
        }
      }
    }
  }
}
