/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset.css";
@import "slick-theme.scss";
@import "slick.scss";

@font-face {
  font-family:'SteinbeckRegular';
  src:font-url('SteinbeckRegular.eot');
  src:font-url('SteinbeckRegular.eot?#iefix') format('embedded-opentype'),
  font-url('SteinbeckRegular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'SteinbeckItalic';
  src:font-url('SteinbeckItalic.eot');
  src:font-url('SteinbeckItalic.eot?#iefix') format('embedded-opentype'),
  font-url('SteinbeckItalic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Black';
  src:font-url('BasisGrotesquePro-Black.eot');
  src:font-url('BasisGrotesquePro-Black.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-BlackItalic';
  src:font-url('BasisGrotesquePro-BlackItalic.eot');
  src:font-url('BasisGrotesquePro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Bold';
  src:font-url('BasisGrotesquePro-Bold.eot');
  src:font-url('BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-BoldItalic';
  src:font-url('BasisGrotesquePro-BoldItalic.eot');
  src:font-url('BasisGrotesquePro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Medium';
  src:font-url('BasisGrotesquePro-Medium.eot');
  src:font-url('BasisGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-MediumItalic';
  src:font-url('BasisGrotesquePro-MediumItalic.eot');
  src:font-url('BasisGrotesquePro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Regular';
  src:font-url('BasisGrotesquePro-Regular.eot');
  src:font-url('BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-Italic';
  src:font-url('BasisGrotesquePro-Italic.eot');
  src:font-url('BasisGrotesquePro-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Light';
  src:font-url('BasisGrotesquePro-Light.eot');
  src:font-url('BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-LightItalic';
  src:font-url('BasisGrotesquePro-LightItalic.eot');
  src:font-url('BasisGrotesquePro-LightItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}

:root {
  --White: #FFFFFF;
  --LightRed: #FFCFCF;
  --LightBlue: rgba(35, 51, 99, 0.2);
  --MidBlue: rgba(35, 51, 99, 0.8);
  --LightGreen: #D9FED6;
  --WhiteBlue: #F7F7F9;
  --EcologicalGreen: #CACC4E;
  --CulturalBlue: #88E5DA;
  --CivilianRed: #E85A5A;
  --SocialYellow: #FAF19D;
  --SportsOrange: #F68E5F;
  --KindBlue: #233363;
}


body {
  font-family:'BasisGrotesquePro-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  // background: var(--KindBlue);
}

// Это стили для A_Toggle, не получилось через styled-components застилизовать
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--LightBlue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--KindBlue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Customize the label (the container) */
.container {
  display: block;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(35, 51, 99, 0.2);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--LightBlue);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--KindBlue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Стили для тегов Hobbies */

.hobbies label {
    display: inline-block;
    background-color: var(--LightBlue);
    color: var(--KindBlue);
    border-radius: 4px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 9px 0px;
    width: 243px;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

#HobbyShort {
  width: 159px;
}


.hobbies input[type="checkbox"]:checked + label {
    background-color: var(--KindBlue);
    color: var(--White);
    transition: all .2s;
}

.hobbies input[type="checkbox"] {
  display: absolute;
}
.hobbies input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* Стили для тегов */

.ks-cboxtags label{
    display: inline-block;
    background-color: var(--LightBlue);
    color: var(--KindBlue);
    border-radius: 8px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.ks-cboxtags input[type="checkbox"]:checked + label {
    background-color: var(--KindBlue);
    color: var(--White);
    transition: all .2s;
}

.ks-cboxtags input[type="checkbox"] {
  display: absolute;
}
.ks-cboxtags input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* Стили для M_Select-Regestration */

.select-box {
  position: relative;
  display: block;
  width: 360px;
  height: 42px;
  font-family: Basis Grotesque Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--MidBlue);
  background: #FFFFFF;



  &__current {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(35, 51, 99, 0.2);
    background: #FFFFFF;

    &:focus {
      & + .select-box__list {
        opacity: 1;
        animation-name: none;
        background: #FFFFFF;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
  }

  &__option {
    display: block;
    padding: 15px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: var(--KindBlue);
      background-color: var(--LightBlue);
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

// .top_menu {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   width: 100%;
//   height: 60px;
//   margin-bottom: 40px;
//   background: #eee;
//   border-bottom: 1px solid #ddd;
// }
//
// .top_menu a {
//   margin: 0 20px;
// }
//
// .account {
//   margin-left: 60px;
//   margin-right: 60px;
// }
//
// h1 {
//   font-family:'SteinbeckRegular';
//   font-size: 40px;
//   margin-top: 30px;
//   margin-bottom: 100px;
// }
//
// h2 {
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 18px;
//   margin-bottom: 10px;
// }
//
// .account h2 {
//   position: absolute;
// }
//
// .categories a {
//   border: 1px solid #E2E5E6;
//   box-sizing: border-box;
//   border-radius: 10px;
//   padding: 10px 20px;
//   margin-right: 20px;
//   margin-bottom: 20px;
// }
//
//
// .users {
//   margin-left: 30vw;
// }
//
// .users th {
//   width: 20vw;
//   text-align: left;
//   font-weight: bold;
//   font-size: 16px;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   border-radius: 4px;
// }
//
// .users td {
//   font-size: 15px;
//   padding-bottom: 20px;
// }
//
// h3 {
//   font-weight: bold;
//   font-size: 30px;
//   line-height: 18px;
//   margin-bottom: 50px;
// }
//
// h4 {
//   font-weight: 500;
//   font-size: 20px;
//   margin-top: 50px;
//   margin-bottom: 30px;
// }
//
// .categories {
//   margin-left: 30vw;
// }
//
// .categories h3 {
//   margin-top: 50px;
// }
//
// #h3 {
//   margin-left: 30vw;
// }
//
// .newcategory {
//   margin-left: 30vw;
// }
//
// .allcategories {
//   display: flex;
//   flex-wrap: wrap;
// }
//
// .postform {
//   margin-left: 20px;
// }
//
// .signin {
//   margin-left: 30vw;
// }
