// body {
//   background-color: #fff;
//   color: #333;
//   margin: 33px; }

// body, p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px; }

tbody, tr, td {
  display: block;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}
//добавила флекс, чтобы блоки с изображениями расстягивались
td {
  padding: 0 0px 0px;
  display: flex;
}

//скрыла отображение редактирования/удаления/просмотра
td.date {
  a {
    display: none;
  }
}

.post_show {
  border: 1px solid #5A5A5A;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 45vw;
  img {
    width: 45vw;
    border-radius: 20px;
  }
  .tag {
    border: 0.5px solid #5A5A5A;
    border-radius: 20px;
    padding: 0px 16px;
    margin: 14px 0px;
  }
  .title {
    margin: 0px;
  }
  .content {
    margin: 20px 0px;
  }

  .date, .editing {
    margin: 0px;
    position: static;
    margin-bottom: 20px;
  }
}

.all_post_body {
  margin: 0px 40px 40px 40px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  margin: 14px 20px;
  line-height: 24px;
  a {
    border: 0.5px solid #5A5A5A;
    border-radius: 20px;
    padding: 4px 16px;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 14px 20px;
}

.content {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 20px;
}

.date, .editing {
  font-weight: normal;
  font-size: 12px;
  color: #5A5A5A;
  text-decoration: none;
  margin-left: 20px;
}

.date {
  position: absolute;
  bottom: 24px;
  margin-left: 20px;
  span {
    margin-right: 14px;
  }
}

.date_editing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

//сделала чтобы изображения расстягивались вместе с блоками «Поста»
img {
  flex-grow: 1;
  border-radius: 19px 19px 0px 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  // color: #000;
  text-decoration: none;
  color: #5A5A5A;
  font-family: 'Raleway', sans-serif;
}

// сделала чтобы блоки расстягивались по ширине экрана и добавила между ними margin-ы
.post_body {
  display: flex;
  flex-grow: 1;
  width: 440px;
  // height: 550px;
  border: 1px solid #5A5A5A;
  border-radius: 20px;
  padding: 0 0px;
  margin: 25px;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
  padding-bottom: 24px;
  position: relative;
}

// a:visited {
//   color: #666; }

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px; }
//
// td {
//   padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block;
}

//скрыла возможность "Добавить новый пост"
.editing {
  display: none;
}
