// body {
//   background-color: #fff;
//   color: #333;
//   margin: 33px; }

// body, p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px; }

tbody, tr, td {
  display: block;
}

td {
  padding: 0 0px 0px;
}

.all_post_body {
  margin: 0px 40px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text_body {

}

.tag_body {

}

.tag {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #000000;
  border: 0.5px solid #5A5A5A;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0px 16px;
  width: 100%;
  width: auto;
  margin: 14px 20px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 14px 20px;
}

.content {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 20px;
}

.date, .editing {
  font-weight: normal;
  font-size: 12px;
  color: #5A5A5A;
  text-decoration: none;
}

.date_editing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  border-radius: 20px 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  // color: #000;
  text-decoration: none;
  color: #5A5A5A;
}

.post_body {
  width: 440px;
  height: 550px;
  border: 1px solid #5A5A5A;
  border-radius: 20px;
  padding: 0 0px;
  margin-bottom: 20px;
}

// a:visited {
//   color: #666; }

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px; }
//
// td {
//   padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
