@import "reset.css";
@import "slick-theme.scss";
@import "slick.scss";

@font-face {
  font-family:'SteinbeckRegular';
  src:font-url('SteinbeckRegular.eot');
  src:font-url('SteinbeckRegular.eot?#iefix') format('embedded-opentype'),
  font-url('SteinbeckRegular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'SteinbeckItalic';
  src:font-url('SteinbeckItalic.eot');
  src:font-url('SteinbeckItalic.eot?#iefix') format('embedded-opentype'),
  font-url('SteinbeckItalic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Black';
  src:font-url('BasisGrotesquePro-Black.eot');
  src:font-url('BasisGrotesquePro-Black.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-BlackItalic';
  src:font-url('BasisGrotesquePro-BlackItalic.eot');
  src:font-url('BasisGrotesquePro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Bold';
  src:font-url('BasisGrotesquePro-Bold.eot');
  src:font-url('BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-BoldItalic';
  src:font-url('BasisGrotesquePro-BoldItalic.eot');
  src:font-url('BasisGrotesquePro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Medium';
  src:font-url('BasisGrotesquePro-Medium.eot');
  src:font-url('BasisGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-MediumItalic';
  src:font-url('BasisGrotesquePro-MediumItalic.eot');
  src:font-url('BasisGrotesquePro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Regular';
  src:font-url('BasisGrotesquePro-Regular.eot');
  src:font-url('BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-Italic';
  src:font-url('BasisGrotesquePro-Italic.eot');
  src:font-url('BasisGrotesquePro-Italic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family:'BasisGrotesquePro-Light';
  src:font-url('BasisGrotesquePro-Light.eot');
  src:font-url('BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'BasisGrotesquePro-LightItalic';
  src:font-url('BasisGrotesquePro-LightItalic.eot');
  src:font-url('BasisGrotesquePro-LightItalic.eot?#iefix') format('embedded-opentype'),
  font-url('BasisGrotesquePro-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}

:root {
  --White: #FFFFFF;
  --LightRed: #FFCFCF;
  --LightBlue: rgba(35, 51, 99, 0.2);
  --MidBlue: rgba(35, 51, 99, 0.8);
  --LightGreen: #D9FED6;
  --WhiteBlue: #F7F7F9;
  --EcologicalGreen: #CACC4E;
  --CulturalBlue: #88E5DA;
  --CivilianRed: #E85A5A;
  --SocialYellow: #FAF19D;
  --SportsOrange: #F68E5F;
  --KindBlue: #03195A;
}


body {
  font-family:'BasisGrotesquePro-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  // background: var(--KindBlue);
}

.subscribecard {
  background-image: url(/images/SubscribeCard.svg);
  width: 413px;
  height: 500px;
  border-radius: 20px;
}

.subscribecard .first {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
  margin-left: 30px;
}

.subscribecard .first h1,  .subscribecard .first p {
  width: 427px;
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105%;
  color: var(--KindBlue);
}

.subscribecard .second {
  display: flex;
  align-items: center;
}

.subscribecard input:nth-child(1) {
  color: var(--KindBlue);
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--KindBlue);
  background: none;
  width: 280px;
}

.subscribecard input:focus {
  outline: none;
}

.subscribecard input::placeholder {
  color: var(--KindBlue);
}

.subscribecard input:nth-child(2) {
  cursor: pointer;
  color: var(--KindBlue);
  font-size: 30px;
  background: none;
  border: none;
}

.subscribecard .third {
  top: 280px;
  margin-left: 30px;
  position: absolute;
}

.subscribecard .third h1 {
  width: 427px;
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105%;
  color: var(--White);
}

.subscribecard .socialsubscribe {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}










// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// input#subscriber_email {
//   width: 500px;
//   height: 60px;
//   padding: 0px;
//   border-radius: 40px;
//   text-align: center;
//   font-family: 'Raleway', sans-serif;
//   font-size: 20px;
//   margin-right: 0px;
//   background: none;
//   border: 1px solid #000000;
//   box-sizing: border-box;
//   cursor: text;
// }
//
// input {
//   width: 200px;
//   height: 60px;
//   padding: 0px;
//   border-radius: 40px;
//   font-family: 'Raleway', sans-serif;
//   font-size: 20px;
//   background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFD92;
//   border: 1px solid #000000;
//   box-sizing: border-box;
//   cursor: pointer;
// }
