// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.registration img {
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.accountlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.accountlogin h2 {
  font-family: 'SteinbeckRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.1px;
  color: var(--KindBlue);
}

.accountlogin .subtitle {
  width: 500px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.accountlogin h3 {
    font-family:'BasisGrotesquePro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--KindBlue);
}

.accountlogin label {
  display: none;
}

.accountlogin input {
  color:  var(--KindBlue);
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
  background: none;
  width: 302px;
  border: 1px solid rgba(35, 51, 99, 0.2);
  padding: 13px 29px;
}

.accountlogin input:focus {
  outline-color: var(--MidBlue);
}

.accountlogin input::placeholder {
  color: var(--LightBlue);
}

.accountlogin .login input {
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--White);
  background: var(--KindBlue);
  border: 1px solid #03195A;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;
  width: 360px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.accountlogin .login input:hover {
  background: var(--MidBlue);
  cursor: pointer;
}

.accountlogin .login input:disabled {
  background: var(--LightBlue);
  color: var(--KindBlue);
  border: none;
  cursor: not-allowed;
}

.forward button {
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--White);
  background: var(--KindBlue);
  border: 1px solid #03195A;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;
  width: 360px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.forward button:hover {
  background: var(--MidBlue);
  cursor: pointer;
}

.forward button:disabled {
  background: var(--LightBlue);
  color: var(--KindBlue);
  border: none;
  cursor: not-allowed;
}

.join {
  display: none;
  justify-content: center;
  margin-bottom: 10px;
}

.volreg2, .volreg3, .volreg4, .volreg5 {
  display: none;
}

.volreg4 .accountlogin {
  margin-bottom: 30px;
}

.accountlogin textarea {
  color:  var(--KindBlue);
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
  background: none;
  width: 302px;
  height: 274px;
  border: 1px solid rgba(35, 51, 99, 0.2);
  padding: 13px 29px;
}

.accountlogin textarea:focus {
  outline-color: var(--MidBlue);
}

.accountlogin textarea::placeholder {
  color: var(--LightBlue);
}

.orgreg5 label {
  display: block;
  font-family:'BasisGrotesquePro-Regular';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: var(--KindBlue);
margin-bottom: 20px;
margin-top: 30px;
}

.orgreg5 input {
  color:  var(--LightBlue);
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 0;
  border: none;
  width: 100%;
}

.orgreg5 input::-webkit-file-upload-button {
  border: 1px solid rgba(35, 51, 99, 0.2);
  border-radius: 10px;
  padding: 13px 29px;
  background: none;
  color:  var(--LightBlue);
  font-family:'BasisGrotesquePro-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.orgreg5 input::-webkit-file-upload-button:hover {
  color:  var(--MidBlue);
  background: var(--LightBlue);
  cursor: pointer;
}

.orgreg5 input:active::before {
  outline-color: var(--MidBlue);
}

.orgreg5 input::placeholder {
  color: var(--LightBlue);
}

.orgreg5 .orgdocuments {
  background-color: var(--LightBlue);
  border-radius: 10px;
  padding: 40px;
  padding-right: 80px;
  padding-top: 0;
}

.orgreg2, .orgreg3, .orgreg4, .orgreg5 {
  display: none;
}

.orgreg5 .accountlogin {
  margin-bottom: 30px;
}

.usersettings .title input {
    width: 30vw;
    margin-right: 20vw;
}

.usersettings input::-webkit-file-upload-button {
  margin-left: 2vw;
}

.usersettings .orgreg5 {
  display: block;
}

.usersettings .orgreg5 .accountlogin {
  margin: 0;
  align-items: baseline;
}

.emptyaccount {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.importantinfo .buttons {
  width: 213px;
}

.emptyaccount p {
  font-family:'BasisGrotesquePro-Regular';
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 32px;
text-align: center;
letter-spacing: 0.2px;
color: var(--KindBlue);
text-align: center;
width: 40vw;
}
