<p>ID <%= @organization.id %></p>
<p>Email <%= @organization.email %></p>
<%# <!-- <p>Username <%= @organization.organizationname %></p> --> %>

<% if organization_signed_in? && @organization.id == current_organization.id %>
	<p><%= link_to 'Настройки профиля', edit_organization_registration_path %></p>
<% end %>

<div class="account">
    <h1>Аккаунт организации</h1>
    <h2>Контактная информация</h2>
    <h2>Анкета организатора</h2>
    <h2>Мои добрые дела</h2>
    <h2>Мои новости</h2>

</div>
